
<div class="p-2 basis-[430px] bg-[var(--bg-box-dark)] mt-6 rounded-lg project-card">
    <div class='bg-[var(--bg-dark)] rounded-lg p-4 grid h-[100%]'>
        <div class='flex place-items-center'>
            <h3 class='text-md font-bold tracking-widest flex-grow'>
                @Project.Title
            </h3>
            <h5 class="text-sm font-bold tracking-widest uppercase tag @(Project.Tag == "Professional" ? "tag-professional" : "tag-personal")">
                @Project.Tag
                </h5>
        </div>
        <p class='text-xs'>
            @Project.Subtitle
        </p>
        <p class='text-sm text-[var(--text-dark)] mt-2 mb-5'>
            @Project.Description
        </p>
        <div class='flex place-items-center text-sm tracking-widest font-bold'>
            <p class='flex-grow text-xs'>
                @Project.Date
            </p>
            @if (Project.ComingSoon)
            {
                <p class='uppercase text-[var(--alt-accent)]'>
                    Coming Soon
                </p>
            } else
            {
                <NavLink class='uppercase text-[var(--accent-bold)]'
                    href="@($"projects/{Project.Title.ToLower().Replace(' ', '-')}")">
                    Read more...
                </NavLink>
            }
        </div>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public Project Project { get; set; } = null!;
}
