@inject ProjectsService ProjectsService

<div id='skills' class='bg-[var(--bg-box-dark)] text-sm'>
      <div class='grid grid-cols-2 py-6 px-10'>
        @foreach (var entry in _notes ?? [])
        {
            <div>@entry.Key:</div>
            <div class='text-[var(--text-dark)] self-end text-right'>@entry.Value</div>
        }
      </div>
      <hr class='mx-10 border-slate-600' />
      <div class='py-6 px-10'>
        <ul class='grid gap-4'>
            @foreach (var skill in _skills ?? [])
            {                
              <li><SkillNote Skill=skill /></li>
            }
        </ul>
      </div>
      <hr class='mx-10 border-slate-600' />
      <div class='py-6 px-10'>
        <ul class='grid grid-cols-2 xl:grid-cols-4 gap-4 justify-items-center code-languages'>
            @foreach (var language in _languages ?? [])
            {
                <li class="relative">
                    <div class='skill-circle relative w-10 h-[40px] grid place-items-center justify-center'>
                        <strong class='z-10 text-xs'>@language.Name</strong>
                        <div class='absolute top-0'>
                            <Arc Percent="@language.Percent" Height="40" />
                        </div>
                    </div>
                    <div class='blurb'>@language.Blurb</div>
                </li>
            }
        </ul>
      </div>
      <hr class='mx-10 border-slate-600' />
      <div class='py-6 px-10 text-center font-bold tracking-widest uppercase'>
        <a class='text-[var(--accent-bold)]' href='./cv-michael-cauley.pdf' download>Download CV</a>
      </div>
    </div>


@code {
    Language[]? _languages { get; set; }
    Skill[]? _skills { get; set; }
    Dictionary<string, string>? _notes { get; set; }

    protected override void OnInitialized()
    {
        _languages = ProjectsService.GetLanguages();
        _skills = ProjectsService.GetSkills();
        _notes = ProjectsService.GetNotes();
    }
}
